/* Reseta o estilo de todos os elementos */
* {
    box-sizing: border-box;
}

/* Define a fonte padrão e margens */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

/* Contêiner principal, com limite de largura e espaçamento */
.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 2rem;
}

/* Título principal da página */
h1 {
    font-size: 3rem;
    margin-bottom: 2rem;
}

/* Estilo do formulário de pesquisa */
#search-form {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 2rem;
}

/* Estilos para o campo de entrada */
#search-input {
    font-size: 1.2rem;
    padding: 0.5rem 1rem;
    margin-right: 1rem;
    border: 2px solid #ccc;
    border-radius: 0.25rem;
    flex-grow: 1;
}

/* Foco no campo de entrada */
#search-input:focus {
    outline: none;
    border-color: #0074d9;
}

/* Estilo do botão de envio */
button[type="submit"] {
    font-size: 1.2rem;
    padding: 0.5rem 1rem;
    background-color: #0074d9;
    color: #fff;
    border: none;
    border-radius: 0.25rem;
    cursor: pointer;
}

/* Efeito ao passar o mouse sobre o botão */
button[type="submit"]:hover {
    background-color: #0063ad;
}

/* Estilos para os resultados da pesquisa */
#search-results {
    margin-bottom: 2rem;
}

/* Estilo de cada item de resultado */
.result-item {
    margin-bottom: 1rem;
}

/* Estilo do título do resultado */
.result-title {
    font-size: 1.5rem;
    margin-top: 0;
}

/* Link para o resultado */
.result-link {
    display: block;
    font-size: 1.2rem;
    margin-bottom: 0.5rem;
    color: #0074d9;
}

/* Efeito de hover para o link */
.result-link:hover {
    text-decoration: underline;
}

/* Estilo para o trecho do artigo */
.result-snippet {
    margin-top: 0;
}

/* Spinner de carregamento */
.spinner {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    height: 10rem;
}

/* Estilos para o tema escuro */
.dark-theme {
    background-color: #282c34;
    color: #fff;
}

/* Estilo do campo de entrada no tema escuro */
.dark-theme #search-input {
    background-color: #454545;
    color: #fff;
    border-color: #fff;
}

/* Foco no campo de entrada no tema escuro */
.dark-theme #search-input:focus {
    border-color: #0074d9;
}

/* Estilo do botão de envio no tema escuro */
.dark-theme button[type="submit"] {
    background-color: #0074d9;
}

/* Links de resultados no tema escuro */
.dark-theme .result-link,
.dark-theme .result-link:hover {
    color: #90caf9;
}

/* Estilo do botão de alternância de tema */
#theme-toggler {
    border: none;
    background: transparent;
    cursor: pointer;
    background: #e2e2e2;
    padding: 10px 20px;
    border-radius: 100px;
}
